doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chosen.css')
    script(src='/javascripts/jquery-1.6.2.min.js')
    script(src='/javascripts/chosen.jquery.min.js')
    script(src='/socket.io/socket.io.js')
  body
    h1= title
    h3#wordcount

    div.categories
      h2 By tag
      ul#hashtags.category
        each tag in hashtags
          li
            a.location(href='/hashtag/#{tag.name}', data-tag=#{tag.name}) #{tag.name}
    
      h2 By language
      ul#languages.category
        each name,code in languages
          li
            a.location(href='/lang/#{name}', data-lang=#{code}) #{name}
    
      h2 By country
      select#countries.category
        each l,name in locations
          option(data-loc=#{l.loc}) #{name}

    block content

    script(type='text/javascript')
      $('#countries').chosen();