doctype 5
html
  head
    title= title
    
    meta(property='og:description', content='A bot to generate fake tweets using Markov chains over previous tweets')
    meta(property='og:title', content='Twitter says wat ?!')
    meta(property='og:type',  content='site')
    meta(property='og:url',   content='http://ec2-54-228-33-93.eu-west-1.compute.amazonaws.com:8000/')
    meta(property='og:site_name', content='Twitter says')
        
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chosen.css')
    
    script(src='/javascripts/jquery-1.6.2.min.js')
    script(src='/javascripts/jquery.peity.min.js')
    script(src='/javascripts/chosen.jquery.min.js')
    script(src='/socket.io/socket.io.js')
    
  body
    h1= title
    
    em#slogan « TwitterSays reflète les échanges sur Twitter, ou pas ; il peut contenir du texte non adaptées à un public mentalement stable »

    div.categories

      if hashtags && hashtags.length
        h2 By tag
        ul#hashtags.category
          each tag in hashtags
            li
              a.location(href='/hashtag/#{tag.name}', data-tag=#{tag.name}) #{tag.name}
    
      if languages
        h2 By language
        ul#languages.category
          each name,code in languages
            li
              a.location(href='/lang/#{code}') #{name}
              em(id='langcount_#{code}')
    
      if locations
        h2 By country
        select#countries.category
          each l,name in locations
            option(value=name, data-loc=l.loc, selected=(name=="France")) #{name}

      br
      br
      span#wordcount_history
      em#wordcount
      br
      span#wordperminute_history
      em#wordperminute
      
      br
      a(href="/docs")
        small Source documentation

      br
      br
      a(href="https://twitter.com/share", class="twitter-share-button", data-size="large", data-dnt="true") Tweet
      
      br
      br
      iframe(src="http://ghbtns.com/github-btn.html?user=vincent&repo=twittersay&type=watch&size=large&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="200", height="50")

    block content

    script(type='text/javascript')
      $('#countries').chosen();
      $("#wordperminute_history").peity("line", { width: 64 })

      // twitter button
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");